In [1]:
import pandas as pd
import pandasql as pdsql

In [3]:
product = pd.read_csv("product.csv")

In [4]:
product

       date  qty_prod_a  qty_prod_b  qty_prod_c
0  1/1/2017         400         100         700
1  1/2/2017           0         200         800
2  1/3/2017           0           0         200
3  1/4/2017         500         200           0

In [10]:
product_t = pd.melt(product,id_vars = "date", value_vars = ["qty_prod_a","qty_prod_b","qty_prod_c"]).\
                rename(columns = {"variable":"product_name","value":"quantity"})
product_t["product_name"] = product_t["product_name"].str[-1]
product_t

        date product_name  quantity
0   1/1/2017            a       400
1   1/2/2017            a         0
2   1/3/2017            a         0
3   1/4/2017            a       500
4   1/1/2017            b       100
5   1/2/2017            b       200
6   1/3/2017            b         0
7   1/4/2017            b       200
8   1/1/2017            c       700
9   1/2/2017            c       800
10  1/3/2017            c       200
11  1/4/2017            c         0

In [34]:
product_pvt = product_t.pivot(index = "date",columns = "product_name", values = "quantity").reset_index()
product_pvt.reindex(product_pvt.index.rename("index"))
#product.date

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
Name: date, dtype: object